<div id="userInfo">
  <div class="col-sm-4">
    <div class="sidebar-nav" >
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="visible-xs navbar-brand">Sidebar menu</span>
        </div>
        <div class="navbar-collapse collapse sidebar-navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span></a>  <p> {{p[0].name}} </p> <p>{{p[0].email}}</p> </li>
            <li><a [routerLink]="['/home/profile']">Upraviť profil</a></li>
            <li><a [routerLink]="['/admin']">Administracia</a></li>
            <li><a><button type="submit" id="logout_button"  class="logout_button" (click)="onSubmit()">Odhlásiť</button></a></li>


          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>
</div>
