$menuHeight: 78px;

div {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.row {
  display: table;
  margin-left: 0;
  margin-right: 0;
}

.row [class*="col-md-2"] {
  float: none;
  display: table-cell;
  vertical-align: top;
}

#upperBar{
  background: url(../../images/bcg_header.png) no-repeat;
  background-size: 100% 100%;
  height: $menuHeight;
  width: 100%;
  margin: 0;
  padding: 0;
  h2 {
    line-height: $menuHeight;
    margin: 0 0 0 20px;
    color: white;
  }
}

#leftMenu{
  background-color: #f2f2f2;
  border-right: 1px solid #b3b3b3;
  min-height: 100%;
  padding: 20px;
  a {
    color: #4d4d4d;
    font-size: 1.1em;
    margin-bottom: 10px;
  }
}

.homeButton{
  margin-top: 20px;
  font-size: 0.9em !important;
}

#contentWindow{
  background-color: white;
}

#content{
  padding-left: 20px !important;
}

