<div id="administration" class="col-md-12">
    <div id="upperBar" class="col-md-12">
        <div class="col-md-2 col-sm-2 col-xs-4 text-center">
            <img src="../../images/logo_small.png">
        </div>
        <div class="col-md-8 col-sm-8 col-xs-8">
            <h2>Administrácia</h2>
        </div>
    </div>
    <div class="row row-eq-height col-md-12" id="contentWindow">
      <div id="leftMenu" class="col-md-2 col-xs-2">
          <a [routerLink]="['/admin/offices']" class="col-md-10 col-md-offset-2 col-sm-11 col-sm-offset-1 col-xs-11 col-xs-offset-1">Miestnosti</a>
          <a [routerLink]="['/admin/cars']" class="col-md-10 col-md-offset-2 col-sm-11 col-sm-offset-1 col-xs-11 col-xs-offset-1">Autá</a>
          <a [routerLink]="['/admin/users']" class="col-md-10 col-md-offset-2 col-sm-11 col-sm-offset-1 col-xs-11 col-xs-offset-1">Používatelia</a>
          <a [routerLink]="['/admin/equipment']" class="col-md-10 col-md-offset-2 col-sm-11 col-sm-offset-1 col-xs-11 col-xs-offset-1">Vybavenie</a>
          <a [routerLink]="['/admin/roles']" class="col-md-10 col-md-offset-2 col-sm-11 col-sm-offset-1 col-xs-11 col-xs-offset-1">Role používateľov</a>
          <a [routerLink]="['/home']" class="col-md-10 col-md-offset-2 col-sm-11 col-sm-offset-1 col-xs-11 col-xs-offset-1 homeButton"><< Späť na hlavnú stránku</a>
      </div>
      <div id="content" [ngStyle]="{'min-height': contentHeight}" class="col-md-10 col-xs-10">
        <router-outlet></router-outlet>
      </div>
    </div>
</div>
