<div class="form-group col-md-12">
  <label>Zariadenie mestnosti:</label>
  <div class="form-group col-md-12" *ngFor="let item of equipment">
      <label for="equipmentAmount" class="col-md-7 control-label text-right">{{ item.description }}</label>
      <div class="col-sm-4">
        <input type="number" class="form-control" id="equipmentAmount" name="equipmentAmount" [(ngModel)]="item.amount">
      </div>
      <div class="col-md-1">
        <button class="btn btn-danger glyphicon glyphicon-minus" (click)="removeEquipment(item)"></button>
      </div>
  </div>
  <div class="col-md-12">
    <div class="col-md-7">
      <select class="form-control" name="itemDesc" [(ngModel)]="itemId">
        <option *ngFor="let item of list" value="{{ item.id }}">{{ item.description }}</option>
      </select>
    </div>
    <div class="col-md-4">
      <input type="number" class="form-control" name="equipmentAmount" min="0" name="amuont" [(ngModel)]="amount">
    </div>
    <div class="col-md-1">
      <button class="btn btn-success glyphicon glyphicon-plus" (click)="addEquipment()"></button>
    </div>
  </div>
</div>
