<div id="window" class="col-md-8 col-md-offset-2">

  <h3>Zmena hesla</h3>

  <form role="form"   #passwordForm="ngForm" (ngSubmit)="registerPass(passwordForm.value)">

    <!--HESLO STARE-->
    <div class="form-group">
      <label for="password">Súčastné heslo:</label>
      <input type="text" class="form-control" id="password"  ngControl="password"  name="password" #password="ngModel" [(ngModel)]="heslo[0].stare"  ngModel maxlength="10" required validatePassword>
      <div *ngIf="heslo[0].dirty && heslo[0].errors.required" class="alert alert-danger"><strong>chyba</strong></div>

    </div>

    <!--HESLO NOVE-->
    <div class="form-group">
      <label for="new_password">Nové heslo:</label>
      <input type="text" class="form-control"  id="new_password"  ngControl="new_password" name="new_password" #new_password="ngModel" [(ngModel)]="heslo[0].nove" required >
    </div>

    <!--HESLO NOVE PODRUHE-->
    <div class="form-group">
      <label for="new2_password">Potvrdenie nového hesla:</label>
      <input type="text" class="form-control" id="new2_password" ngControl="new2_password" name="new2_password" #new2_password="ngModel" [(ngModel)]="heslo[0].nove2" required>
    </div>


    <div *ngIf="true">
      <button type="submit" id="edit_button" class="btn btn-success  btn-block" [disabled]="!passwordForm.form.valid" >Zmeniť heslo</button>
    </div>
  </form>
</div>
