//VARIABLES
$menuHeight: 78px;

div {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.row {
  display: table;
  margin-left: 0;
  margin-right: 0;
}

.row [class*="col-md-2"] {
  float: none;
  display: table-cell;
  vertical-align: top;
}

@media (max-width: 991px) {
  .col-sm-center {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .col-xs-center {
    text-align: center;
  }
  #left_menu {
    a {
      span {
        display: none;
      }
    }
  }
}

#mainApp, #left_menu, #right_menu{
  height: 100%;
}

#content{
  width: 100%;
  padding: 20px !important;
}

//HEADER
#header {
  background: url("../images/bcg_header.png") no-repeat center;
  background-size: 100% 100%;
  display: table;
  width: 100%;
  div {
    line-height: $menuHeight;
    height: $menuHeight;
  }
}

#searchInput {
  line-height: $menuHeight;
  padding-left: 35px;
  display: initial;
  width: 350px;
  background-image: url("../images/search_icon.png");
  background-repeat: no-repeat;
}

//LEFT MENU
#left_menu {
  padding-top: 20px;
  background-color: #f2f2f2;
  border-right: 1px #b3b3b3 solid;
}

.menu_icon {
  padding: 0px 10px 0px 0px;
}

#left_menu a {
  padding-left: 0;
  margin-bottom: 10px;
  font-size: 1.1em;
  color: #4d4d4d;
  &:link {
    text-decoration: none;
  }
  &:hover{ //SET an animation for hover
    text-decoration: none;
  }
  .active {
    border-bottom: 1px solid blue; //change css for selected menu option
  }
}

//RIGHT MENU
#right_menu {
  background-color: #f2f2f2;
  border-left: 1px solid #b3b3b3;
}

#right_menu img{
  padding-left: 0px;
  padding-right: 0px;
}

#envelope_ico, #user_ico {
  color: white;
  font-size: 30pt;
  margin: 0;
  line-height: 78px;
  display: initial;
}
.badge{
  margin-left: -45px;
  font-size: 15px;
  color: white;
  background-color: transparent;
}

//FOOTER TERMINATED
#footer {
  text-align: center;
  color: #4d4d4d;
  height: 30px;
  margin-top: -30px;
  line-height: 30px;
  background-color: #f2f2f2;
  border-top: 1px solid #b3b3b3;
}
