<div id="mainApp">
    <div id="header">
        <div class="col-md-2 col-xs-12 text-center">
            <img src="../images/logo_small.png" alt="logo_small" />
        </div>
        <div class="col-md-8 col-sm-6 col-xs-12 col-sm-center">
            <input type="text" name="search" placeholder="Search.." class="form-control" id="searchInput" />
        </div>
        <div class="col-md-2 col-sm-6 col-xs-12 text-center">
            <p class="glyphicon glyphicon-envelope col-md-6" aria-hidden="true" id="envelope_ico">
                <span class="badge">5</span>
            </p>
            <!--<p class="glyphicon glyphicon-user col-md-6" aria-hidden="true" id="user_ico"></p>-->
          <p class="glyphicon glyphicon-user" aria-hidden="true"   (click)="show()" id="user_ico" >
            <span  ></span>
          </p>


        </div>
    </div>

    <!-- MENU - lava strana -->
    <div class="row row-eq-height col-md-12" id="contentWindow">

        <div class="col-md-2 col-xs-center" id="left_menu">
            <a href="#" class="col-md-10 col-md-offset-2 col-sm-11 col-sm-offset-1 col-xs-9 col-xs-offset-3">
                <img src="../images/icon_news.png" class="menu_icon">
                <span>News</span>
            </a>
            <a href="#" class="col-md-10 col-md-offset-2 col-sm-11 col-sm-offset-1 col-xs-9 col-xs-offset-3">
                <img src="../images/icon_kalendar.png " class="menu_icon">
                <span>Kalendár</span>
            </a>
            <div class="col-md-10 col-md-offset-2 col-sm-11 col-sm-offset-1 col-xs-9 col-xs-offset-3" (click)="toggleReservations()">
              <img src="../images/icon_reservation.png" class="menu_icon">
              <span>Rezervácie</span>
            </div>
            <a *ngIf="openReservations" [routerLink]="['reservations', 'offices']" class="col-md-10 col-md-offset-2 col-sm-11 col-sm-offset-1 col-xs-9 col-xs-offset-3">
                <span>Rezervácia miestností</span>
            </a>
            <a *ngIf="openReservations" [routerLink]="['reservations', 'cars']" class="col-md-10 col-md-offset-2 col-sm-11 col-sm-offset-1 col-xs-9 col-xs-offset-3">
                <span>Rezervácia áut</span>
            </a>
            <a href="#" class="col-md-10 col-md-offset-2 col-sm-11 col-sm-offset-1 col-xs-9 col-xs-offset-3">
                <img src="../images/icon_zabava.png" class="menu_icon">
                <span>Zábava</span>
            </a>
            <a href="#" class="col-md-10 col-md-offset-2 col-sm-11 col-sm-offset-1 col-xs-9 col-xs-offset-3">
                <img src="../images/icon_kros.png" class="menu_icon">
                <span>KROS</span>
            </a>
            <a [routerLink]="['/admin']" class="col-md-10 col-md-offset-2 col-sm-11 col-sm-offset-1 col-xs-9 col-xs-offset-3">
              <img src="../images/icon_kros.png" class="menu_icon">
              <span>Administrácia</span>
            </a>
        </div>

        <!-- OBSAH -->
        <div class="col-md-8" id="content">
            <router-outlet></router-outlet>
        </div>

        <!-- MENU - prva strana-->
        <div class="col-md-2 text-center" id="right_menu" style="height: {{ windowHeight }}">
          <user_info  *ngIf="isViewed">  </user_info>
            <a href="#">
                <img src="../images/car.png" class="col-md-6"
                     onmouseover="this.src = '../images/car_hover.png'"
                     onmouseout="this.src = '../images/car.png'" />
            </a>
            <a href="#">
                <img src="../images/car.png" class="col-md-6"
                     onmouseover="this.src = '../images/car_hover.png'"
                     onmouseout="this.src = '../images/car.png'" />
            </a>
            <a href="#">
                <img src="../images/car.png" class="col-md-6"
                     onmouseover="this.src = '../images/car_hover.png'"
                     onmouseout="this.src = '../images/car.png'" />
            </a>
            <a href="#">
                <img src="../images/car.png" class="col-md-6"
                     onmouseover="this.src = '../images/car_hover.png'"
                     onmouseout="this.src = '../images/car.png'" />
            </a>
            <a href="#" style="text-align: center"> Rezervovať služobné auto</a>
        </div>
    </div>
</div>
