<h4 class="col-md-10">{{ data.name }}</h4>

<div class="col-md-2 text-right">
  <span class="glyphicon glyphicon-triangle-left" (click)="moveBack()"></span>
  <span class="glyphicon glyphicon-triangle-right" (click)="moveFor()"></span>
</div>

<div class="col-md-12">

  <table id="reservationTable" class="table table-responsive table-bordered">
    <thead>
    <tr>
      <th></th>
      <th *ngFor="let day of days">
        {{ day }}
      </th>
    </tr>
    </thead>

    <tr *ngFor="let time of times; let i = index">
      <td> {{ time.time }} </td>
      <td *ngFor="let cell of tableData[time.time]" [ngClass]="{occupied: cell, long: cell.long, clickable: true}">
        <p>{{ cell.userName }}</p>
      </td>
    </tr>

  </table>

</div>

