<div id="darkBackground" (click)="closeWindow()" ></div>

<div id="window" class="col-md-8 col-md-offset-2">

  <h3 *ngIf="!officeData.id">Vytvorenie novej miestnosti</h3>
  <h3 *ngIf="officeData.id">Editovanie existujúcej miestnosti</h3>

  <div *ngIf="error" class="alert alert-danger col-md-12">
    <strong>{{ error }}</strong>
  </div>

  <div *ngIf="success" class="alert alert-success col-md-12">
    <strong>{{ success }}</strong>
  </div>

  <form role="form">
    <!--NAZOV MIESTNOSTI-->
    <div class="form-group">
      <label for="name">Názov:</label>
      <input type="text"  class="form-control" id="name" name="name" [(ngModel)]="officeData.name">
    </div>
    <!--TYP MIESTNOSTI-->
    <div class="form-group">
      <label for="type">Typ:</label>
      <input type="text" id="type" class="form-control"  name="type" [(ngModel)]="officeData.type">
    </div>
    <!--POPIS-->
    <div class="form-group">
      <label for="description">Popis:</label>
      <textarea id="description" class="form-control" rows="3"  name="description" [(ngModel)]="officeData.description"></textarea>
    </div>
    <!--SUBMIT BUTTON-->
    <div *ngIf="!officeData.id">
      <button type="submit" id="add_button" class="btn btn-success  btn-block" (click)="newOffice()">Vytvoriť miestnosť</button>
    </div>
    <div *ngIf="officeData.id">
      <button type="submit" id="edit_button" class="btn btn-success  btn-block" (click)="editOffice()">Editovať miestnosť</button>
    </div>
  </form>

</div>

