<div id="darkBackground" (click)="closeWindow()" ></div>

<div id="window" class="col-md-8 col-md-offset-2">

  <h3 *ngIf="!carData.id">Vytvorenie nového vozidla</h3>
  <h3 *ngIf="carData.id">Editovanie existujúceho vozidla</h3>

  <div *ngIf="error" class="alert alert-danger col-md-12">
    <strong>{{ error }}</strong>
  </div>

  <div *ngIf="success" class="alert alert-success col-md-12">
    <strong>{{ success }}</strong>
  </div>

  <form role="form">

    <!--NAZOV VOZIDLA-->
    <div class="form-group">
      <label for="name">Názov:</label>
      <input type="text"  class="form-control" id="name" name="name" [(ngModel)]="carData.znacka">
    </div>

    <!--SPZ VOZIDLA-->
    <div class="form-group">
      <label for="type">SPZ:</label>
      <input type="text" id="type" class="form-control"  name="type" [(ngModel)]="carData.spz">
    </div>


    <!--SUBMIT BUTTON-->
    <div *ngIf="!carData.id">
      <button type="submit" id="add_button" class="btn btn-success  btn-block" (click)="newCar()">Vytvoriť vozidlo</button>
    </div>
    <div *ngIf="carData.id">
      <button type="submit" id="edit_button" class="btn btn-success  btn-block" (click)="editCar()">Editovať vozidlo</button>
    </div>

  </form>

</div>

